*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #f8f8f8;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 1px;
}
#nav{
    height: 11vh;
    width: 100%;
    /*background-color: red;*/
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h1{
    /*background-color: blue;*/
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 45px;
    letter-spacing: -1px;
    position: relative;
}
#nav h1::after{
    content: "©️";
    font-family: gilroy;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    top: 15%;
    right: 3%;
}
#nav h1::before{
    content: "model managment";
    font-family: gilroy;
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    letter-spacing: 1px;
    bottom: 10%;
    right: 9%;
}
#nav h2{
    /*background-color: blue;*/
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 26px;
    font-weight: 500;
}
#nav h2:nth-last-child(2){
    width: 29%;

}
#nav h2:nth-last-child(1){
    width: 10%;
}
#center{
    height: 85%;
    width: 100%;
    /*background-color: red;*/
    padding: 4vw;
    position: relative;
}
#content{
    height: 100%;
    width: 100%;
    background-color: royalblue;
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: 60%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /*background-color: red;*/
    padding: 3vw;
    color: white;
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5vw;
}
#over1 h1{
    font-family: monument;
    font-size: 3.6vw;
    /*font-weight: 100;*/
}
#over1 h2{
    font-size: 2vw;
    padding: 2vw 2.2vw;
    border-radius: 50%;
    /*background-color: blue;*/
    border: 1px solid white;
    border-bottom: 2px solid white;
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid white;
    padding: 1vw 0;
}
#over2 h4{
    font-size: 1.3vw;
    font-weight: 500;
}
#over img{
    height: 1vw;
}
#scroll{
    height: 40vh;
    width: 100%;
    /*background-color: red;*/
    /*padding: 1vw;*/
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container{
    height: 100%;
    width: 110%;
    /*background-color: blue;*/
    display: inline-block;
    padding: 1vw;
    animation-name: anime;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
#scroll img{
    height: 95%;
    border-radius:50%;
    width: 15%;
    margin: 1vw;
    object-fit: cover;
    object-position: 30% 30%;
}

@keyframes anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}
#alphabet{
    height: 6vw;
    width: 100%;
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;;
}
#alphabet h5{
    font-size: 1.8vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    border-bottom: 2px solid black;
    margin-right: 1.5vw;
}
#alphabet h6{
    font-size: 0.9vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    /*background-color: blue;*/
    padding: 0.6vw 0.8vw;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #00000000;
    transition: all ease 0.2s;
}
#alphabet h6:hover{
    border: 2px solid #000;
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}

#page2-part1{
    height: 100%;
    width: 50%;
    background-image:url(https://images.unsplash.com/photo-1745516193815-031820f51862?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#page2-part2{
    height: 100%;
    width: 45%;
}
#page2-part2 img{
    height: 90%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#text{
    height: 25px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
#text1 h1{
    font-size: 18px;
    font-weight: 600;
    font-style: monument;
    padding: 0.1vw 0.8vw;
    letter-spacing: 0.4px;
    justify-content: space-between;
}
#text2 p{
    font-size: 15px;
    font-weight: 400;
    font-style: monument;
    padding: 0.1vw;
    letter-spacing: 0.2px;
}
#page3{
    height: 100%;
    width: 100%;
    /*background-color: red;*/
    position: relative;
    padding: 5vw 4vw;
}
#page3>h1{
    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    font-size: 3vw;
    margin-bottom: 7vh;
}
.elem{
    height: 15vh;
    width: 100%;
    /*background-color: red;*/
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
    transition: all ease 0.7s;
    
}
.elem img{
    height: 100px;
    width: 120px;
    position: absolute;
    border-radius: 50%;
    left: 15%;
    opacity: 0;
    object-position: top;
    object-fit: cover;
    transition: all ease 0.7s;

}
.elem .elem-part2{
    width: 45%;
}
.elem-part2 h1{
    font-size: 2.7vw;
    font-weight: 500;
}
.elem-part2 h5{
    font-size: 1vw;
    font-weight: 600;
    text-transform: uppercase;
}
.elem h4{
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;


}
.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}
.elem:hover{
    background-color: #e6e6e6;
}
.elem:hover img{
    opacity: 1;
    left: 24%;
}
#marque{
    width: 100%;
    /*background-color: red;*/
    white-space: nowrap;
    padding: 0.5vw;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#marque h1{
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: monument;
    margin-right: 16px;
    letter-spacing: 4px;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}
#footer{
    height: 14%;
    width: 100%;
}
